.swiper {
    width: 600px;
    height: 300px;
  }

  .swiper-pagination-bullet {
    background-color: red !important;
    width: 30px !important;
    height: 30px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: yellow !important;
  }